.footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a73e8;
  color: white;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
